canvas {
  height: 100vh;
}
body {
  background-color: #f9f9f9;
}
#homepage-img {
  margin-left: 8rem;
  border-radius: 12px;
  height: 100vh;
  margin-top: 24px;
}
.main-home {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
}
#about-me {
  background-color: #f9f9f9;
}

.about-me-main {
  display: flex;
}

.about-me-content,
.model {
  width: 50%;
  display: flex;

  font-family: Agency FB;
}
.title {
  font-family: Agency FB;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-heading {
  font-family: Agency FB;
  font-size: 2rem;
  margin-left: 12px;
}
.about-me-content {
  font-size: 1.5rem;
}
.model {
  margin-bottom: 5rem;
}
.content {
  margin-left: 10px;
}
.experience-main {
  font-family: Agency FB;
}
.vertical-timeline-element-title {
  font-size: 2.3rem;
}
.vertical-timeline-element-subtitle {
  font-size: 1.5rem;
}
.vertical-timeline-element-content p {
  font-size: 1.2rem !important;
}
.vertical-timeline-element-date {
  font-size: 1.2rem !important;
}
.projects-section {
  padding: 20px;
  font-family: Agency FB;
}

.projects-row {
  display: flex;
  justify-content: space-around; /* Adjust spacing between cards */
  margin-bottom: 20px; /* Add margin between rows */
}

.project-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: calc(33.33% - 20px); /* Set width for each card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 100%;
  height: 350px;
}

.project-card-content {
  padding: 15px;
}

.project-card-title {
  font-size: 2rem;
  margin: 0;
}

.project-card-description {
  font-size: 1.2rem;
  color: #555;
}
.skills-main {
  font-family: Agency FB;
}
.skill-title {
  font-size: 2rem;
  display: flex;
}
.skill-desc {
  font-size: 1.2rem;
}
.main-container {
  display: flex;
}

.container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-right video {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 8rem;
}
.container-left {
  margin-left: 10rem;
}
.main-achievement-container {
  display: flex;
  font-family: Agency FB;
}
.left-achievement-container video {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 8rem;
}
.right-achievement-container {
  margin-left: 10rem;
}
.achievement-title {
  font-size: 2rem;
  display: flex;
}
.achievement-desc {
  font-size: 1.2rem;
}
.testimonials {
  padding: 2em 0;
  background-color: #f8f9fa;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.testimonials-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-container {
  flex: 1 1 45%;
  max-width: 45%;
}

.video-container video {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonials-slider {
  flex: 1 1 45%;
  max-width: 45%;
  position: relative;
  overflow: hidden;
  font-family: Agency FB;
}

.testimonial-slide {
  display: none;
  transition: opacity 1s ease-in-out;
}

.testimonial-slide.active {
  display: block;
  opacity: 1;
}

.testimonial-slide h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.position {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 1em;
}

.message {
  font-size: 1.2rem;
  color: #333;
}
.name {
  font-size: 2rem !important;
}
/* App.css */

.contact-page {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: Agency FB;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 40px;
  font-size: 2.5em;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info,
.form {
  flex: 1;
  max-width: 48%;
  box-sizing: border-box;
  padding: 20px;
}

.contact-info h3,
.contact-form h3 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.contact-icon {
  margin-right: 15px;
  color: #0073b1;
  font-size: 1.5em;
}

.contact-item a {
  color: #0073b1;
  text-decoration: none;
  font-size: 1.2em;
}

.contact-item span {
  font-size: 1.2em;
  color: #555;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #0073b1;
  outline: none;
}

.contact-form textarea {
  resize: none;
  height: 150px;
}

.submit-btn {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #0073b1;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #005582;
}
/* App.css */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0 20px 0;
  text-align: center;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding: 20px;
  min-width: 200px;
}

.footer-section h3 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.footer-section p,
.footer-section a {
  font-size: 1em;
  color: #ccc;
  text-decoration: none;
  margin: 10px 0;
}

.footer-section a:hover {
  color: #fff;
}

.footer-icon {
  margin-right: 10px;
}

.social-icon {
  color: #ccc;
  font-size: 1.5em;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #0073b1;
}

.footer-bottom {
  font-family: agency fb;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
}
